.widget{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 2px rgb(218, 218, 218);
    border: 1px solid #DFE0EB;
    height: 100px;
    cursor: pointer;
    border-radius: 0.5rem;

    &:hover{
       border: 1px solid #3751FF;
       .top , .buttom {
        color: #3751FF;
        }
    }
    .top{
        color: #9FA2B4;
        font-size: 19px;
        letter-spacing: 0.4px;

    }
    .buttom{
        font-size: 35px;
        color: #252733;
        letter-spacing: 1px;
        font-weight: 700;
      ;
    }
}
